<ion-header>
  <ion-navbar>
    <ion-title>
      Familyw
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>所属ファミリー一覧</ion-list-header>
    <ng-container *ngFor="let family of families">
      <ion-item-sliding (click)="clickFamily(family.id)">
        <ion-item>
          {{family.name}}(<span *ngIf="family.confirm==0" style="color: orange;">未承認</span>)
        </ion-item>
        <ion-item-options side="right">
          <button color="danger" ion-button (click)="leaveFamily(family.id)">脱退</button>
          <button *ngIf="family.confirm==0" ion-button (click)="confirmAddFamily(family.id)">承認</button>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col col-4></ion-col>
      <ion-col col-4><ion-item><ion-label floating="">追加ファミリー名</ion-label><ion-input [(ngModel)]="familyName"></ion-input></ion-item></ion-col>
      <ion-col col-4><button ion-button (click)="addFamily()">ファミリー追加</button></ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-list-header>メンバー一覧</ion-list-header>
    <ion-item *ngFor="let user of userConfirms">
      <ion-label *ngIf="user.confirm==1">name: {{user.name}}</ion-label>
      <ion-label *ngIf="user.confirm==0">name: {{user.name}}<span style="color: orange;">（未承認）</span></ion-label>
    </ion-item>
  </ion-list>

  <ng-container *ngIf="selectedFamilyId">
    <ion-item>
      <ion-label floating="">新規メンバー検索</ion-label>
      <ion-input (ionChange)="searchUser()" name="searchUserName" type="text" value="" [(ngModel)]="searchUserName"></ion-input>
    </ion-item>
    <ion-list>
      <ng-container *ngFor="let searchUser of searchUsers">
        <button ion-item (click)="addUserToFamily(searchUser.id, searchUser.name)">{{searchUser.name}}</button>
      </ng-container>
    </ion-list>
  </ng-container>
</ion-content>
