<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngFor="let family of families">
      <button ion-item (click)="clickFamily(family.id)">name: {{family.name}}</button>
    </ng-container>
  </ion-list>
  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-label>name: {{user.name}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label floating="">コンタクトID</ion-label>
    <ion-input name="contactId" type="text" value="" [(ngModel)]="contactId"></ion-input>
  </ion-item>

  <button ion-button (click)="addContact()">追加</button>
</ion-content>
