<ion-header>
    <ion-navbar>
        <ion-title>{{userInfo.name}}さんの買い物リスト</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-label>ファミリー選択</ion-label>
        <ion-select [(ngModel)]="selectedFamilyId" (ionChange)="familySelected()">
            <ion-option *ngFor="let family of families" [value]="family.id">{{family.name}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-list>
        <ng-container *ngFor="let item of shoppingLists">
            <ion-item-sliding *ngIf="!item.comp_date">
                <ion-item>
                    {{item.task}}
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button (click)="itemSelected(item)">買い物完了</button>
                    <button color="danger" ion-button (click)="deleteShpping(item.id)">削除</button>
                </ion-item-options>
            </ion-item-sliding>
        </ng-container>
    </ion-list>

    <ion-list>
        <h3>買い物新規追加</h3>
        <ion-item>
            <ion-label floating="">買い物</ion-label>
            <ion-input name="shopping" type="text" value="" [(ngModel)]="task"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating="">日付</ion-label>
            <ion-datetime displayFormat="YYYY/MM/DD" [(ngModel)]="shoppingDate"></ion-datetime>
        </ion-item>
        <button ion-button (click)="addShppping()">追加</button>
    </ion-list>
    <h2>完了済み</h2>
    <ion-list>
        <ng-container *ngFor="let item of shoppingLists">
            <ion-item-sliding *ngIf="item.comp_date">
                <ion-item>
                    {{item.task}}（{{item.comp_date}}）
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button (click)="itemSelected(item)">元に戻す</button>
                    <button color="danger" ion-button (click)="deleteShpping(item.id)">削除</button>
                </ion-item-options>
            </ion-item-sliding>
        </ng-container>
    </ion-list>
</ion-content>
